h1 { font-family: 'Lato', Arial, sans-serif; 
     font-weight: 700;
     font-size: 42px;
     margin-left: 10px;
}

a { font-family: 'Lato', Arial, sans-serif; 
    font-weight: 700;
    font-size: 22px;
    text-decoration: none;
    color: #28f;
    margin-left: 2px;
    margin-right: 2px;
}
div { font-family: 'Lato', Arial, sans-serif; 
     font-weight: 700;
     font-size: 18px;
     line-height: 170%;
     margin-top: 20px;
     margin-bottom: 100px;
     max-width: 1000px;
     margin-left : 30px;
     margin-right: 30px;
}

img{
    opacity:0.9;
    -webkit-filter: saturate(50%);
    margin-left: 100px;
    max-width:400px;
}

a.small {
    font-size: 16px;
}

.footer{
    position : fixed;
    bottom : 0px;
    height : 70%;
    width : 100%;
    margin : 0px 0px;
    z-index: -1;
}

.footer-img {
    height : 100%;
    background-image: url("images/denise.png");
    background-repeat: no-repeat;
    background-size: auto 100%;
    margin-left: 50%;
    margin-top: 0px;
    margin-bottom : 0px;
}

.intro {
    position: absolute;
    max-width : 400px;
    left : 10%;
    top : 30%;
}

.icons {
    position: absolute;
    height: 140px;
    width : 200px;
    margin: 0px 0px;
    bottom: 20%;
}


.resume {
    background-position: 0px 8px;
}

.contact {
    background-position: 0px -50px;
}

.code {
    background-position: 0px -206px;
}

.icon {
    background-image: url("images/icons_v.png");
    background-repeat: no-repeat;
    width:41px;
    height: 55px;
    overflow:hidden;
    margin: 0px 0px;
}

.description, .link {
    display: inline-block;
    vertical-align: middle;
    height: 55px;
    margin: 0px 0px;
    margin-left: 10px;
    line-height: 55px;
}

.group {
    margin: 0px 0px;
}

.description {
    display : none;
}

.group:hover > .description {
    display: inline-block;
}